In [1]:
# Install dependencies

import sys
!{sys.executable} -m pip install hdfs

Requirement already satisfied: hdfs in /opt/conda/lib/python3.10/site-packages (2.7.0)
Requirement already satisfied: docopt in /opt/conda/lib/python3.10/site-packages (from hdfs) (0.6.2)
Requirement already satisfied: six>=1.9.0 in /opt/conda/lib/python3.10/site-packages (from hdfs) (1.16.0)
Requirement already satisfied: requests>=2.7.0 in /opt/conda/lib/python3.10/site-packages (from hdfs) (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/conda/lib/python3.10/site-packages (from requests>=2.7.0->hdfs) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.10/site-packages (from requests>=2.7.0->hdfs) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.10/site-packages (from requests>=2.7.0->hdfs) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.10/site-packages (from requests>=2.7.0->hdfs) (2022.9.24)

In [2]:
pip install delta-spark

Requirement already satisfied: delta-spark in /opt/conda/lib/python3.10/site-packages (2.1.0)
Requirement already satisfied: importlib-metadata>=1.0.0 in /opt/conda/lib/python3.10/site-packages (from delta-spark) (4.11.4)
Requirement already satisfied: pyspark<3.4.0,>=3.3.0 in /usr/local/spark-3.3.0-bin-hadoop3/python (from delta-spark) (3.3.0)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.10/site-packages (from importlib-metadata>=1.0.0->delta-spark) (3.8.1)
Requirement already satisfied: py4j==0.10.9.5 in /opt/conda/lib/python3.10/site-packages (from pyspark<3.4.0,>=3.3.0->delta-spark) (0.10.9.5)
Note: you may need to restart the kernel to use updated packages.

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from delta import *

# warehouse_location points to the default location for managed databases and tables
warehouse_location = 'hdfs://hdfs-nn:9000/TrabalhoPL/gold'

builder = SparkSession \
    .builder \
    .appName("Python Spark SQL Hive integration example") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:1.0.0") \
    .enableHiveSupport() \

spark = spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [2]:
# create gold database
spark.sql(
    """
    DROP DATABASE IF EXISTS Projeto_gold CASCADE
    """
)
spark.sql(
    """
    create database Projeto_gold location 'hdfs://hdfs-nn:9000/TrabalhoPL/gold/Projeto_gold.db'
    """
)

DataFrame[]

In [2]:
from pyspark.sql.functions import substring, avg, sum

# read air_quality from the silver tables
hdfs_path = "hdfs://hdfs-nn:9000/TrabalhoPL/silver/Projeto.db/Tabela_Agua"

agua = spark\
             .read\
             .load(hdfs_path)

agua.show()

+---------+-----------+-----------+-----------+--------------------+------------+------------+------------+-------------+----+
|Sample_Id|Sample_Site|Sample_Date|Sample_Time|             Analyte|      Status|Final_Result|       Units| Stream_Group| Ano|
+---------+-----------+-----------+-----------+--------------------+------------+------------+------------+-------------+----+
| C-175259|       E16I| 1997-01-02|       8:32|Solids, Total Sus...|Desconhecido|           3|        mg/L|       Esopus|1997|
| C-175259|       E16I| 1997-01-02|       8:32|                  pH|Desconhecido|        6.73|Desconhecida|       Esopus|1997|
| C-175259|       E16I| 1997-01-02|       8:32|         Temperature|Desconhecido|           1|           C|       Esopus|1997|
| C-175259|       E16I| 1997-01-02|       8:32|      Apparent Color|Desconhecido|           6|          CU|       Esopus|1997|
| C-175259|       E16I| 1997-01-02|       8:32|     Scent Character|Desconhecido|           0|Desconhecida|       Esopus|1997|
| C-175259|       E16I| 1997-01-02|       8:32|Specific Conductance|Desconhecido|          48|    umhos/cm|       Esopus|1997|
| C-175259|       E16I| 1997-01-02|       8:32|     Coliform, Total|Desconhecido|          60|   CFU/100mL|       Esopus|1997|
| C-175259|       E16I| 1997-01-02|       8:32|     Coliform, Fecal|Desconhecido|           2|   CFU/100mL|       Esopus|1997|
| C-175259|       E16I| 1997-01-02|       8:32|           Turbidity|Desconhecido|         6.8|         NTU|       Esopus|1997|
| C-175260|       E16I| 1997-01-03|       9:05|Solids, Total Sus...|Desconhecido|         2.8|        mg/L|       Esopus|1997|
| C-175260|       E16I| 1997-01-03|       9:05|                  pH|Desconhecido|        6.64|Desconhecida|       Esopus|1997|
| C-175260|       E16I| 1997-01-03|       9:05|         Temperature|Desconhecido|           3|           C|       Esopus|1997|
| C-175260|       E16I| 1997-01-03|       9:05|      Apparent Color|Desconhecido|           7|          CU|       Esopus|1997|
| C-175260|       E16I| 1997-01-03|       9:05|     Scent Character|Desconhecido|           0|Desconhecida|       Esopus|1997|
| C-175260|       E16I| 1997-01-03|       9:05|Specific Conductance|Desconhecido|          49|    umhos/cm|       Esopus|1997|
| C-175260|       E16I| 1997-01-03|       9:05|     Coliform, Total|Desconhecido|          66|   CFU/100mL|       Esopus|1997|
| C-175260|       E16I| 1997-01-03|       9:05|     Coliform, Fecal|Desconhecido|          20|   CFU/100mL|       Esopus|1997|
| C-175260|       E16I| 1997-01-03|       9:05|           Turbidity|Desconhecido|         7.9|         NTU|       Esopus|1997|
|  E-94806|    CROTONR| 1997-01-06|      11:55|Organic Carbon, T...|Desconhecido|         3.2|        mg/L|EOH Hydrology|1997|
|  D-60916|       EDRA| 1997-01-06|      10:38|           Turbidity|Desconhecido|         4.5|         NTU|     Pepacton|1997|
+---------+-----------+-----------+-----------+--------------------+------------+------------+------------+-------------+----+
only showing top 20 rows

In [3]:
from pyspark.sql.functions import avg
gold_agua = agua \
    .groupBy("Ano", "Analyte", "Stream_Group")\
    .agg(
        avg(agua.Final_Result).alias("Media")
    ) \
   
gold_agua.toPandas()

        Ano                       Analyte    Stream_Group      Media
0      1997    Copper, Total (Undigested)  Catskill Daily   4.000000
1      1998                      Chloride    Cannonsville  13.690735
2      1998  Antimony, Total (Undigested)    Cannonsville   0.160000
3      1998  Chromium, Total (Undigested)    Lower Esopus        NaN
4      1999               Scent Character    Cannonsville   0.170732
...     ...                           ...             ...        ...
14750  2020          Magnesium, Dissolved     East Branch   9.108750
14751  2013                Ammonia (as N)       Neversink   0.061818
14752  2020              Sulfate (as SO4)          Esopus   2.992857
14753  2013              Sulfate (as SO4)       Neversink   4.330769
14754  2020            Calcium, Dissolved    Cannonsville   6.421429

[14755 rows x 4 columns]

In [4]:
# create air_quality table in gold
spark.sql(
    """
    DROP TABLE IF EXISTS Projeto_gold.Tabela_Agua_3
    """
)

spark.sql(
    """
    CREATE EXTERNAL TABLE Projeto_gold.Tabela_Agua_3 (
        Ano INT,
        Analyte VARCHAR(250), 
        Stream_Group VARCHAR(250),
        Media DOUBLE
    )
    USING DELTA
    LOCATION 'hdfs://hdfs-nn:9000/TrabalhoPL/gold/Projeto_gold.db/Tabela_Agua_3/'
    """
)

DataFrame[]

In [5]:
# write to delta table
gold_agua \
    .write  \
    .format("delta") \
    .mode("overwrite") \
    .save("hdfs://hdfs-nn:9000/TrabalhoPL/gold/Projeto_gold.db/Tabela_Agua_3/")

In [6]:
# check the results in the table
spark.table("Projeto_gold.Tabela_Agua_3").toPandas()

        Ano                       Analyte    Stream_Group      Media
0      1997    Copper, Total (Undigested)  Catskill Daily   4.000000
1      1998                      Chloride    Cannonsville  13.690735
2      1998  Antimony, Total (Undigested)    Cannonsville   0.160000
3      1998  Chromium, Total (Undigested)    Lower Esopus        NaN
4      1999               Scent Character    Cannonsville   0.170732
...     ...                           ...             ...        ...
14750  2020          Magnesium, Dissolved     East Branch   9.108750
14751  2013                Ammonia (as N)       Neversink   0.061818
14752  2020              Sulfate (as SO4)          Esopus   2.992857
14753  2013              Sulfate (as SO4)       Neversink   4.330769
14754  2020            Calcium, Dissolved    Cannonsville   6.421429

[14755 rows x 4 columns]

In [7]:
spark.sql("""
GENERATE symlink_format_manifest FOR TABLE delta.`hdfs://hdfs-nn:9000/TrabalhoPL/gold/Projeto_gold.db/Tabela_Agua_3/`
""").show()

++
||
++
++

In [8]:
spark.sql("""
DROP TABLE IF EXISTS Projeto_gold.Tabela_Agua_Presto_3 
""").show()

spark.sql("""
    CREATE EXTERNAL TABLE Projeto_gold.Tabela_Agua_Presto_3 (
        Ano INT,
        Analyte VARCHAR(250), 
        Stream_Group VARCHAR(250),
        Media DOUBLE
    )
ROW FORMAT SERDE 'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
STORED AS INPUTFORMAT 'org.apache.hadoop.hive.ql.io.SymlinkTextInputFormat'
OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat'
LOCATION 'hdfs://hdfs-nn:9000/TrabalhoPL/gold/Projeto_gold.db/Tabela_Agua_3/_symlink_format_manifest/'
""").show()

++
||
++
++

++
||
++
++