In [1]:
# Install dependencies

import sys
!{sys.executable} -m pip install hdfs

Requirement already satisfied: hdfs in /opt/conda/lib/python3.10/site-packages (2.7.0)
Requirement already satisfied: docopt in /opt/conda/lib/python3.10/site-packages (from hdfs) (0.6.2)
Requirement already satisfied: six>=1.9.0 in /opt/conda/lib/python3.10/site-packages (from hdfs) (1.16.0)
Requirement already satisfied: requests>=2.7.0 in /opt/conda/lib/python3.10/site-packages (from hdfs) (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/conda/lib/python3.10/site-packages (from requests>=2.7.0->hdfs) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.10/site-packages (from requests>=2.7.0->hdfs) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.10/site-packages (from requests>=2.7.0->hdfs) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.10/site-packages (from requests>=2.7.0->hdfs) (2022.9.24)

In [2]:
pip install delta-spark

Requirement already satisfied: delta-spark in /opt/conda/lib/python3.10/site-packages (2.1.0)
Requirement already satisfied: importlib-metadata>=1.0.0 in /opt/conda/lib/python3.10/site-packages (from delta-spark) (4.11.4)
Requirement already satisfied: pyspark<3.4.0,>=3.3.0 in /usr/local/spark-3.3.0-bin-hadoop3/python (from delta-spark) (3.3.0)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.10/site-packages (from importlib-metadata>=1.0.0->delta-spark) (3.8.1)
Requirement already satisfied: py4j==0.10.9.5 in /opt/conda/lib/python3.10/site-packages (from pyspark<3.4.0,>=3.3.0->delta-spark) (0.10.9.5)
Note: you may need to restart the kernel to use updated packages.

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from delta import *

# warehouse_location points to the default location for managed databases and tables
warehouse_location = 'hdfs://hdfs-nn:9000/TrabalhoPL/gold'

builder = SparkSession \
    .builder \
    .appName("Python Spark SQL Hive integration example") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:1.0.0") \
    .enableHiveSupport() \

spark = spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [2]:
# create gold database
spark.sql(
    """
    DROP DATABASE IF EXISTS Projeto_gold CASCADE
    """
)
spark.sql(
    """
    create database Projeto_gold location 'hdfs://hdfs-nn:9000/TrabalhoPL/gold/Projeto_gold.db'
    """
)

DataFrame[]

In [2]:
from pyspark.sql.functions import substring, avg, sum

# read air_quality from the silver tables
hdfs_path = "hdfs://hdfs-nn:9000/TrabalhoPL/silver/Projeto.db/Tabela_Ar"

air_quality = spark\
             .read\
             .load(hdfs_path)

air_quality.show()
air_quality.printSchema()

+---------+------------+--------------------+--------------+------------+-------------+-----------+--------------------+-----------+----------+----------+----------+-------------+----+
|Unique_ID|Indicator_ID|                Name|       Measure|Measure_Info|Geo_Type_Name|Geo_Join_ID|      Geo_Place_Name|Time_Period|Start_Date|Data_Value|  End_Date|   Localidade| Ano|
+---------+------------+--------------------+--------------+------------+-------------+-----------+--------------------+-----------+----------+----------+----------+-------------+----+
|   179718|         642|Boiler Emissions-...|Number per km2|      number|        UHF42|        504|South Beach - Tot...|       2015|2015-01-01|       2.0|2015-12-31|Staten Island|2015|
|   179719|         642|Boiler Emissions-...|Number per km2|      number|        UHF42|        503|         Willowbrook|       2015|2015-01-01|       2.1|2015-12-31|Staten Island|2015|
|   179720|         642|Boiler Emissions-...|Number per km2|      number|        UHF42|        501|       Port Richmond|       2015|2015-01-01|       2.8|2015-12-31|Staten Island|2015|
|   179721|         642|Boiler Emissions-...|Number per km2|      number|        UHF42|        502|Stapleton - St. G...|       2015|2015-01-01|       4.6|2015-12-31|Staten Island|2015|
|   179722|         642|Boiler Emissions-...|Number per km2|      number|        UHF42|        410|           Rockaways|       2015|2015-01-01|       6.1|2015-12-31|       Queens|2015|
|   179723|         642|Boiler Emissions-...|Number per km2|      number|        UHF42|        208|Canarsie - Flatlands|       2015|2015-01-01|       6.6|2015-12-31|     Brooklyn|2015|
|   179724|         642|Boiler Emissions-...|Number per km2|      number|        UHF42|        409|    Southeast Queens|       2015|2015-01-01|       8.1|2015-12-31|       Queens|2015|
|   179725|         642|Boiler Emissions-...|Number per km2|      number|        UHF42|        404|Bayside - Little ...|       2015|2015-01-01|       9.8|2015-12-31|       Queens|2015|
|   179726|         642|Boiler Emissions-...|Number per km2|      number|        UHF42|        408|             Jamaica|       2015|2015-01-01|      13.1|2015-12-31|       Queens|2015|
|   179727|         642|Boiler Emissions-...|Number per km2|      number|        UHF42|        205|         Sunset Park|       2015|2015-01-01|      13.9|2015-12-31|     Brooklyn|2015|
|   179728|         642|Boiler Emissions-...|Number per km2|      number|        UHF42|        407|    Southwest Queens|       2015|2015-01-01|      14.3|2015-12-31|       Queens|2015|
|   179729|         642|Boiler Emissions-...|Number per km2|      number|        UHF42|        406|       Fresh Meadows|       2015|2015-01-01|      14.3|2015-12-31|       Queens|2015|
|   179730|         642|Boiler Emissions-...|Number per km2|      number|        UHF42|        204|       East New York|       2015|2015-01-01|      14.7|2015-12-31|     Brooklyn|2015|
|   179731|         642|Boiler Emissions-...|Number per km2|      number|        UHF42|        403|Flushing - Clearview|       2015|2015-01-01|      17.0|2015-12-31|       Queens|2015|
|   179732|         642|Boiler Emissions-...|Number per km2|      number|        UHF42|        201|          Greenpoint|       2015|2015-01-01|      18.8|2015-12-31|     Brooklyn|2015|
|   179733|         642|Boiler Emissions-...|Number per km2|      number|        UHF42|        405|Ridgewood - Fores...|       2015|2015-01-01|      22.5|2015-12-31|       Queens|2015|
|   179734|         642|Boiler Emissions-...|Number per km2|      number|        UHF42|        210|Coney Island - Sh...|       2015|2015-01-01|      23.5|2015-12-31|     Brooklyn|2015|
|   179735|         642|Boiler Emissions-...|Number per km2|      number|        UHF42|        104|Pelham - Throgs Neck|       2015|2015-01-01|      23.6|2015-12-31|        Bronx|2015|
|   179736|         642|Boiler Emissions-...|Number per km2|      number|        UHF42|        402|         West Queens|       2015|2015-01-01|      23.7|2015-12-31|       Queens|2015|
|   179737|         642|Boiler Emissions-...|Number per km2|      number|        UHF42|        209|Bensonhurst - Bay...|       2015|2015-01-01|      26.1|2015-12-31|     Brooklyn|2015|
+---------+------------+--------------------+--------------+------------+-------------+-----------+--------------------+-----------+----------+----------+----------+-------------+----+
only showing top 20 rows

root
 |-- Unique_ID: string (nullable = true)
 |-- Indicator_ID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Measure: string (nullable = true)
 |-- Measure_Info: string (nullable = true)
 |-- Geo_Type_Name: string (nullable = true)
 |-- Geo_Join_ID: string (nullable = true)
 |-- Geo_Place_Name: string (nullable = true)
 |-- Time_Period: string (nullable = true)
 |-- Start_Date: date (nullable = true)
 |-- Data_Value: float (nullable = true)
 |-- End_Date: date (nullable = true)
 |-- Localidade: string (nullable = true)
 |-- Ano: integer (nullable = true)

In [10]:
from pyspark.sql.functions import count
gold_air_quality = air_quality \
    .groupBy("Ano", "Localidade", "Name")\
    .agg(
        sum(air_quality.Data_Value).alias("Soma")
    ) \
   
gold_air_quality.toPandas()

,Ano,Localidade,Name,Soma
0,2009,Manhattan,Ozone (O3),554.539998
1,2009,Staten Island,PM2.5-Attributable Deaths,261.399998
2,2015,Brooklyn,Sulfur Dioxide (SO2),7.950000
3,2009,Manhattan,PM2.5-Attributable Asthma Emergency Department...,1910.499997
4,2015,Bronx,PM2.5-Attributable Respiratory Hospitalization...,158.799998
...,...,...,...,...
535,2008,Queens,Nitrogen Dioxide (NO2),1674.790000
536,2020,Manhattan,Fine Particulate Matter (PM2.5),400.969999
537,2020,Manhattan,Nitrogen Dioxide (NO2),979.690002
538,2020,Brooklyn,Nitrogen Dioxide (NO2),1128.349998
539,2020,New York City,Fine Particulate Matter (PM2.5),111.790000

In [13]:
# create air_quality table in gold
spark.sql(
    """
    DROP TABLE IF EXISTS Projeto_gold.Tabela_Ar_3
    """
)

spark.sql(
    """
    CREATE EXTERNAL TABLE Projeto_gold.Tabela_Ar_3 (
        Ano INT,
        Localidade VARCHAR(250), 
        Name VARCHAR(500), 
        Soma DOUBLE
    )
    USING DELTA
    LOCATION 'hdfs://hdfs-nn:9000/TrabalhoPL/gold/Projeto_gold.db/Tabela_Ar_3/'
    """
)

DataFrame[]

In [14]:
# write to delta table
gold_air_quality \
    .write  \
    .format("delta") \
    .mode("overwrite") \
    .save("hdfs://hdfs-nn:9000/TrabalhoPL/gold/Projeto_gold.db/Tabela_Ar_3/")

In [15]:
# check the results in the table
spark.table("Projeto_gold.Tabela_Ar_3").toPandas()

,Ano,Localidade,Name,Soma
0,2009,Manhattan,Ozone (O3),554.539998
1,2009,Staten Island,PM2.5-Attributable Deaths,261.399998
2,2015,Brooklyn,Sulfur Dioxide (SO2),7.950000
3,2009,Manhattan,PM2.5-Attributable Asthma Emergency Department...,1910.499997
4,2015,Bronx,PM2.5-Attributable Respiratory Hospitalization...,158.799998
...,...,...,...,...
535,2008,Queens,Nitrogen Dioxide (NO2),1674.790000
536,2020,Manhattan,Fine Particulate Matter (PM2.5),400.969999
537,2020,Manhattan,Nitrogen Dioxide (NO2),979.690002
538,2020,Brooklyn,Nitrogen Dioxide (NO2),1128.349998
539,2020,New York City,Fine Particulate Matter (PM2.5),111.790000

In [16]:
spark.sql("""
GENERATE symlink_format_manifest FOR TABLE delta.`hdfs://hdfs-nn:9000/TrabalhoPL/gold/Projeto_gold.db/Tabela_Ar_3/`
""").show()

++
||
++
++

In [18]:
spark.sql("""
DROP TABLE IF EXISTS Projeto_gold.Tabela_Ar_Presto_3 
""").show()

spark.sql("""
    CREATE EXTERNAL TABLE Projeto_gold.Tabela_Ar_Presto_3 (
        Ano INT,
        Localidade VARCHAR(250), 
        Name VARCHAR(500), 
        Soma DOUBLE 
        )
ROW FORMAT SERDE 'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
STORED AS INPUTFORMAT 'org.apache.hadoop.hive.ql.io.SymlinkTextInputFormat'
OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat'
LOCATION 'hdfs://hdfs-nn:9000/TrabalhoPL/gold/Projeto_gold.db/Tabela_Ar_3/_symlink_format_manifest/'
""").show()

++
||
++
++

++
||
++
++