In [1]:
# Install dependencies

import sys
!{sys.executable} -m pip install hdfs

Requirement already satisfied: hdfs in /opt/conda/lib/python3.10/site-packages (2.7.0)
Requirement already satisfied: requests>=2.7.0 in /opt/conda/lib/python3.10/site-packages (from hdfs) (2.28.1)
Requirement already satisfied: docopt in /opt/conda/lib/python3.10/site-packages (from hdfs) (0.6.2)
Requirement already satisfied: six>=1.9.0 in /opt/conda/lib/python3.10/site-packages (from hdfs) (1.16.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/conda/lib/python3.10/site-packages (from requests>=2.7.0->hdfs) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.10/site-packages (from requests>=2.7.0->hdfs) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.10/site-packages (from requests>=2.7.0->hdfs) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.10/site-packages (from requests>=2.7.0->hdfs) (2022.9.24)

In [2]:
pip install delta-spark

Requirement already satisfied: delta-spark in /opt/conda/lib/python3.10/site-packages (2.1.0)
Requirement already satisfied: importlib-metadata>=1.0.0 in /opt/conda/lib/python3.10/site-packages (from delta-spark) (4.11.4)
Requirement already satisfied: pyspark<3.4.0,>=3.3.0 in /usr/local/spark-3.3.0-bin-hadoop3/python (from delta-spark) (3.3.0)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.10/site-packages (from importlib-metadata>=1.0.0->delta-spark) (3.8.1)
Requirement already satisfied: py4j==0.10.9.5 in /opt/conda/lib/python3.10/site-packages (from pyspark<3.4.0,>=3.3.0->delta-spark) (0.10.9.5)
Note: you may need to restart the kernel to use updated packages.

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from delta import *

# warehouse_location points to the default location for managed databases and tables
warehouse_location = 'hdfs://hdfs-nn:9000/Habitos_sustentaveis/gold'

builder = SparkSession \
    .builder \
    .appName("Python Spark SQL Hive integration example") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:1.0.0") \
    .enableHiveSupport() \

spark = spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [2]:
from pyspark.sql.functions import substring, avg, sum

# read air_quality from the silver tables
hdfs_path = "hdfs://hdfs-nn:9000/TrabalhoPL/silver/Projeto.db/Tabela_Petroleo"

tabela_petroleo = spark\
             .read\
             .load(hdfs_path)

tabela_petroleo.show()
tabela_petroleo.printSchema()

+------------+---------------------+--------------------+----------------+--------+---------+----------+-------------------+--------------------+--------------------+--------------------+------------------+--------+------------+---------+------------+-------------+----------+----+
|Spill_Number|Program_Facility_Name|              Street|        Locality|  Contry|SWIS_Code|DEC_Region|Contributing_Factor|           Waterbody|              Source|       Material_Name|   Material_Family|Quantity|       Units|Recovered|Data_Derrame|Data_Relatada|  Data_Fim| Ano|
+------------+---------------------+--------------------+----------------+--------+---------+----------+-------------------+--------------------+--------------------+--------------------+------------------+--------+------------+---------+------------+-------------+----------+----+
|    9506819 | 1 BEEKMAN PLACE  ...|     1 BEEKMAN PLACE|       MANHATTAN|New York|     3101|         2|            Unknown|             Nenhuma|Institutional, Ed...|            gasoline|         Petroleum|     0.0|      Pounds|      0.0|  1995-09-05|   1995-09-05|2000-12-06|1995|
|    9508616 |    1 EDGEWATER PLAZA|   1 EDGEWATER PLAZA|   STATEN ISLAND|Richmond|     4301|         2|            Unknown|           NY HARBOR|             Unknown|    unknown material|             Other|     0.0|     Gallons|      0.0|  1995-10-13|   1995-10-13|2003-02-13|1995|
|    9511445 | 1 FERRY SLIP     ...|STATEN ISLAND FER...|   STATEN ISLAND|Richmond|     4301|         2|  Equipment Failure|UPPER NEW YORK HARBO|Institutional, Ed...|              diesel|         Petroleum|     0.0|     Gallons|      0.0|  1995-12-11|   1995-12-11|1995-12-11|1995|
|    9509855 | 1 PROSPECT PARK W...|1 PROSPECT PARK WEST|        BROOKLYN|   Kings|     2401|         2|       Tank Failure|             Nenhuma|    Private Dwelling|         #2 fuel oil|         Petroleum|     0.0|     Gallons|      0.0|  1995-11-04|   1995-11-08|1996-09-23|1995|
|    9503012 | 1 RICHMOND TERRAC...|  1 RICHMOND TERRACE|   STATEN ISLAND|Richmond|     4301|         2|        Human Error|          EAST RIVER|              Vessel|         #2 fuel oil|         Petroleum|     1.0|     Gallons|      0.0|  1995-06-09|   1995-06-09|1995-06-09|1995|
|    9510231 | 1 SICKLES ST     ...|        1 SICKLES ST|       MANHATTAN|New York|     3101|         2|            Unknown|             Nenhuma|             Unknown|         2-propanone|Hazardous Material|     0.0|     Gallons|      0.0|  1995-11-15|   1995-11-15|1995-11-20|1995|
|    9505632 | 1 WILSON AVENUE  ...|     1 WILSON AVENUE|        RICHMOND|Richmond|     4301|         2|  Equipment Failure|             Nenhuma|    Private Dwelling|         #2 fuel oil|         Petroleum|     1.0|     Gallons|      1.0|  1995-08-07|   1995-08-07|1998-04-30|1995|
|    9505195 | 1-11 HUDSON AVENU...|  1-11 HUDSON AVENUE|        BROOKLYN|   Kings|     2401|         2|            Unknown|          EAST RIVER|             Unknown|  waste oil/used oil|         Petroleum|     0.0|     Gallons|      0.0|  1995-07-28|   1995-07-28|2004-01-20|1995|
|    9504968 | 1-11 HUDSON AVENU...|  1-11 HUDSON AVENUE|        BROOKLYN|   Kings|     2401|         2|         Deliberate|          EAST RIVER|             Unknown|   unknown petroleum|         Petroleum|     5.0|     Gallons|      0.0|  1995-07-24|   1995-07-24|2004-01-20|1995|
|    9501384 | 1-1102 JAMAICA AV...|1-1102 JAMAICA AV...|   RICHMOND HILL|  Queens|     4101|         2|      Tank Overfill|             Nenhuma|          Tank Truck|         #2 fuel oil|         Petroleum|     2.0|     Gallons|      0.0|  1995-05-03|   1995-05-02|1995-05-03|1995|
|    9501744 | 1-5 7TH AVE SOUTH...|   1-5 7TH AVE SOUTH|        NEW YORK|New York|     3101|         2|  Equipment Failure|             Nenhuma|Gasoline Station ...|            gasoline|         Petroleum|     0.0|     Gallons|      0.0|  1995-05-10|   1995-05-11|2013-09-30|1995|
|    9502878 | 10 CROSBY STREET ...|    10 CROSBY STREET|       MANHATTAN|New York|     3101|         2|  Equipment Failure|             Nenhuma|Commercial/Indust...|         #4 fuel oil|         Petroleum|    50.0|     Gallons|      0.0|  1995-06-07|   1995-06-07|2003-02-24|1995|
|    9506878 | 10-26 53RD AVENUE...|   10-26 53RD AVENUE|LONG ISLAND CITY|  Queens|     4101|         2|            Unknown|             Nenhuma|             Unknown|                lead|Hazardous Material|     0.0|      Pounds|      0.0|  1995-09-06|   1995-09-06|1997-10-16|1995|
|    9506878 | 10-26 53RD AVENUE...|   10-26 53RD AVENUE|LONG ISLAND CITY|  Queens|     4101|         2|            Unknown|             Nenhuma|             Unknown|   unknown petroleum|         Petroleum|     0.0|     Gallons|      0.0|  1995-09-06|   1995-09-06|1997-10-16|1995|
|    9415189 | 100 EAST 18TH ST ...|    100 EAST 18TH ST|        BROOKLYN|   Kings|     2401|         2|      Tank Overfill|             Nenhuma|    Private Dwelling|         #6 fuel oil|         Petroleum|     5.0|     Gallons|      0.0|  1995-02-20|   1995-02-20|2004-01-26|1995|
|    9502049 | 100 KRATZ AVE    ...|       100 KRATZ AVE|        SYRACUSE|Onondaga|     3415|         7|         Deliberate|             Nenhuma|Commercial/Indust...|       white caustic|Hazardous Material|     0.0|Desconhecida|      0.0|  1995-05-18|   1995-05-18|1995-05-18|1995|
|    9509770 | 100 SUTTON ST    ...|       100 SUTTON ST|        BROOKLYN|   Kings|     2401|         2|         Deliberate|             Nenhuma|Commercial/Indust...|unknown hazardous...|Hazardous Material|     0.0|     Gallons|      0.0|  1995-11-07|   1995-11-07|1995-11-08|1995|
|    9511396 | 100 WEST 73RD ST ...|    100 WEST 73RD ST|        NEW YORK|New York|     3101|         2|  Equipment Failure|             Nenhuma|             Unknown|         #2 fuel oil|         Petroleum|    20.0|     Gallons|      0.0|  1995-12-09|   1995-12-09|1998-11-10|1995|
|    9506634 | 100-50 202ND STRE...| 100-50 202ND STREET|          HOLLIS|  Queens|     4101|         2|  Equipment Failure|             Nenhuma|    Private Dwelling|         #2 fuel oil|         Petroleum|     2.0|     Gallons|      2.0|  1995-08-29|   1995-08-30|1995-08-30|1995|
|    9414305 | 100-52  205TH PLA...|  100-52 205TH PLACE|          HOLLIS|  Queens|     4101|         2|  Equipment Failure|             Nenhuma|    Private Dwelling|         #2 fuel oil|         Petroleum|     2.0|     Gallons|      2.0|  1995-01-29|   1995-01-29|1995-01-30|1995|
+------------+---------------------+--------------------+----------------+--------+---------+----------+-------------------+--------------------+--------------------+--------------------+------------------+--------+------------+---------+------------+-------------+----------+----+
only showing top 20 rows

root
 |-- Spill_Number: string (nullable = true)
 |-- Program_Facility_Name: string (nullable = true)
 |-- Street: string (nullable = true)
 |-- Locality: string (nullable = true)
 |-- Contry: string (nullable = true)
 |-- SWIS_Code: integer (nullable = true)
 |-- DEC_Region: integer (nullable = true)
 |-- Contributing_Factor: string (nullable = true)
 |-- Waterbody: string (nullable = true)
 |-- Source: string (nullable = true)
 |-- Material_Name: string (nullable = true)
 |-- Material_Family: string (nullable = true)
 |-- Quantity: float (nullable = true)
 |-- Units: string (nullable = true)
 |-- Recovered: float (nullable = true)
 |-- Data_Derrame: date (nullable = true)
 |-- Data_Relatada: date (nullable = true)
 |-- Data_Fim: date (nullable = true)
 |-- Ano: integer (nullable = true)

In [14]:
from pyspark.sql.functions import count, countDistinct
gold_petroleo = tabela_petroleo \
    .groupBy("Contributing_Factor", "Material_Family")\
    .agg(
        (sum(tabela_petroleo.Quantity)-sum(tabela_petroleo.Recovered)).alias("Desperdicio"),
    ) \
   
gold_petroleo.toPandas()

                         Contributing_Factor     Material_Family   Desperdicio
0                               Housekeeping               Other  7.653774e+05
1                          Equipment Failure           Petroleum  6.386269e+06
2                          Equipment Failure  Hazardous Material  4.345179e+05
3                            Abandoned Drums  Hazardous Material  4.680500e+03
4                          Tank Test Failure  Hazardous Material  0.000000e+00
5   Missing Code in Old Data - Must be fixed               Other  2.251000e+03
6                          Equipment Failure               Other  2.342697e+08
7                           Traffic Accident           Petroleum  6.424073e+05
8                                 Deliberate           Petroleum  6.920169e+05
9                               Housekeeping           Petroleum  7.273790e+04
10                              Housekeeping  Hazardous Material  8.540401e+04
11                          Traffic Accident  Hazardous Material  1.175927e+05
12                             Tank Overfill           Petroleum  7.223290e+05
13                         Equipment Failure          Oxygenates  0.000000e+00
14                              Tank Failure          Oxygenates  0.000000e+00
15                              Tank Failure               Other  1.959800e+04
16                               Human Error               Other  4.568992e+05
17                                     Other  Hazardous Material  4.872722e+04
18                                Deliberate          Oxygenates  0.000000e+00
19                                 Vandalism           Petroleum  1.604900e+07
20                                   Unknown  Hazardous Material -4.190904e+05
21  Missing Code in Old Data - Must be fixed           Petroleum  5.611000e+03
22                             Tank Overfill          Oxygenates  0.000000e+00
23                                   Unknown          Oxygenates  1.000000e+00
24                                   Unknown               Other  1.081912e+08
25  Missing Code in Old Data - Must be fixed  Hazardous Material  0.000000e+00
26                                     Other          Oxygenates  0.000000e+00
27                         Tank Test Failure           Petroleum  5.621625e+04
28                              Tank Failure           Petroleum  2.037967e+08
29                              Housekeeping          Oxygenates  0.000000e+00
30                          Traffic Accident               Other  1.205135e+06
31                               Human Error           Petroleum  7.281389e+05
32                                     Other               Other  5.665081e+07
33                         Tank Test Failure               Other  4.000000e+00
34                                     Other           Petroleum  3.244308e+06
35                           Abandoned Drums               Other  1.045900e+04
36                             Tank Overfill               Other  1.651000e+03
37                                 Vandalism               Other  1.804925e+04
38                           Abandoned Drums           Petroleum  4.015285e+04
39                               Human Error  Hazardous Material  9.916892e+04
40                         Tank Test Failure          Oxygenates  0.000000e+00
41                                Deliberate               Other  6.935433e+06
42                              Tank Failure  Hazardous Material  9.657000e+04
43                                 Vandalism  Hazardous Material  7.090000e+02
44                                   Unknown           Petroleum  1.023099e+08
45                             Tank Overfill  Hazardous Material  4.170000e+02
46                                Deliberate  Hazardous Material  1.927598e+05
47                                     Storm  Hazardous Material  1.035000e+03
48                                     Storm           Petroleum -2.434434e+05
49                          Traffic Accident          Oxygenates  0.000000e+00
50                                     Storm               Other  1.410236e+06
51                           Abandoned Drums          Oxygenates  0.000000e+00

In [17]:
# create air_quality table in gold
spark.sql(
    """
    DROP TABLE IF EXISTS Projeto_gold.Tabela_Petroleo_3
    """
)

spark.sql(
    """
    CREATE EXTERNAL TABLE Projeto_gold.Tabela_Petroleo_3 (
        Contributing_Factor VARCHAR(100),
        Material_Family VARCHAR(250),
        Desperdicio Double
    )
    USING DELTA
    LOCATION 'hdfs://hdfs-nn:9000/TrabalhoPL/gold/Projeto_gold.db/Tabela_Petroleo_3/'
    """
)

DataFrame[]

In [18]:
# write to delta table
gold_petroleo \
    .write  \
    .format("delta") \
    .mode("overwrite") \
    .save("hdfs://hdfs-nn:9000/TrabalhoPL/gold/Projeto_gold.db/Tabela_Petroleo_3/")

In [19]:
# check the results in the table
spark.table("Projeto_gold.Tabela_Petroleo_3").show()

+--------------------+------------------+-------------------+
| Contributing_Factor|   Material_Family|        Desperdicio|
+--------------------+------------------+-------------------+
|        Housekeeping|             Other|  765377.4399999995|
|   Equipment Failure|         Petroleum|  6386269.100000223|
|   Equipment Failure|Hazardous Material|  434517.8699885942|
|     Abandoned Drums|Hazardous Material|             4680.5|
|   Tank Test Failure|Hazardous Material|                0.0|
|Missing Code in O...|             Other|             2251.0|
|   Equipment Failure|             Other|2.342696589800236E8|
|    Traffic Accident|         Petroleum|  642407.2799996063|
|          Deliberate|         Petroleum|  692016.9400000498|
|        Housekeeping|         Petroleum|  72737.89999998547|
|        Housekeeping|Hazardous Material|  85404.00999999978|
|    Traffic Accident|Hazardous Material| 117592.70000002533|
|       Tank Overfill|         Petroleum|           722329.0|
|   Equipment Failure|        Oxygenates|                0.0|
|        Tank Failure|        Oxygenates|                0.0|
|        Tank Failure|             Other|            19598.0|
|         Human Error|             Other|  456899.2499999888|
|               Other|Hazardous Material|  48727.21999971941|
|          Deliberate|        Oxygenates|                0.0|
|           Vandalism|         Petroleum|       1.60490035E7|
+--------------------+------------------+-------------------+
only showing top 20 rows

In [24]:
spark.sql("""
GENERATE symlink_format_manifest FOR TABLE delta.`hdfs://hdfs-nn:9000/TrabalhoPL/gold/Projeto_gold.db/Tabela_Petroleo_3/`
""").show()

++
||
++
++

In [25]:
spark.sql("""
DROP TABLE IF EXISTS Projeto_gold.Tabela_Petroleo3_Presto 
""").show()

spark.sql("""
    CREATE EXTERNAL TABLE Projeto_gold.Tabela_Petroleo3_Presto (
        Contributing_Factor VARCHAR(100),
        Material_Family VARCHAR(250),
        Desperdicio Double
    )
ROW FORMAT SERDE 'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
STORED AS INPUTFORMAT 'org.apache.hadoop.hive.ql.io.SymlinkTextInputFormat'
OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat'
LOCATION 'hdfs://hdfs-nn:9000/TrabalhoPL/gold/Projeto_gold.db/Tabela_Petroleo_3/_symlink_format_manifest/'
""").show()

++
||
++
++

++
||
++
++